body {
  margin: 30px;
}
.my-container {
  border: 1px solid blue;
}
.my-row {
  border: 3px solid red;
  height: 200px;
}
.my-col {
  border: 3px solid yellow;
}
.text-center {
  margin-top: 100px;
}

/* Responsiveness using containers */

/* Extra small devices (below 576px) */
.my-container-2 {
  background-color: rgb(179, 65, 144);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .my-container-2 {
    background-color: red;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .my-container-2 {
    background-color: rgb(91, 177, 189);
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .my-container-2 {
    background-color: rgb(90, 158, 63);
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .my-container-2 {
    background-color: rgb(143, 133, 48);
  }
}

/* Some useful components */

.my-container-3 {
  margin-top: 100px;
}
.my-container-3 h2 {
  margin-top: 50px;
}

/* cards */

.card {
  width: 300px;
}

/* progress bar */
.progress-bar {
  width: 50%;
}

svg {
  color: aqua;
}
